@import '../../styles/breakpoints';
@import '../../styles/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  .header-mobile {
    font-weight: 500;
    font-size: 20px;
    display: flex;
    gap: 25px;
    .menu {
      text-decoration: none;
      color: $dark;
    }
  }
  .header-desktop {
   display: none;
  }
  .header-container {
   font-size: 19px;
}
}

 @media screen and (min-width: $big-desktop) {
   .header {
      padding: 1.5em 4em;
      .header-mobile {
         display: none;
      }
      .header-desktop {
         display: block;
         .menu-list {
            gap: 25px;
            font-size: 18px;
            font-weight: 400;
            display: flex;
            align-items: center;
            .menu-item {
               text-decoration: none;
               color: $dark;
            }
         }
      }
   }
 }